extends _partial/layout-default

block content
  .cloak
    - var numCounter = 0, numCounterMod = 0;
    - var arrPosts = site.posts.toArray();
    - arrPosts = arrPosts.sort(function(a, b) { return b.date - a.date; });
    .row
      each post in arrPosts
        - var strURL = url_for(post.path);
        - numCounter += 1;
        - numCounterMod = Math.floor(numCounter / config.per_page);
        .row(class="post-preview-group post-preview-group-" + numCounterMod + ' ' + (0 === numCounterMod ? 'open' : ''))
          .col-md-8.col-md-offset-2.relative
            .post-preview
              .post-preview-date
                != date(post.date)
              h2.post-preview-title
                a(href=strURL)= post.title
                if post.categories && post.categories.data
                  each cat in post.categories.data
                    span.post-preview-category
                      span.post-preview-bullet &nbsp;&nbsp;/&nbsp;&nbsp;
                      a.post-preview-link(href="")= cat.name
              if post.banner
                .post-preview-banner(class='post-preview-banner-' + post.banner)
                  img(src=config.root + 'images/banner-' + post.banner + '.png', title=post.banner)
              .post-preview-excerpt
                != post.excerpt
              .post-preview-more: a(href=strURL) read
    script.
      window.numCounterMax    = #{numCounter};
      window.numCounterModMax = #{numCounterMod};
    .row
      .col-xs-6.left
        a.get-post.get-post-older(onclick="getOtherPostPreviews(true)") &lt; Older posts
      .col-xs-6.right
        a.get-post.get-post-newer(onclick="getOtherPostPreviews(false)") Newer posts &gt;
